
body {
  margin: 0;
  font-family: Arial;
}

.container {
  width: 1280px;
  margin: 0 auto;
  border: 3px solid black;
  box-sizing: border-box;
}

.page-header {
  width: 100%;
  border: 1px solid red;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
  color: #ffffff;
}

.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }

.page-header-wrp {
    float: left;
    border: 1px solid #fff;
}

.page-header-title {
    margin: 0 0 50px 0;
   /* box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);*/
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;       
}

.page-header-list {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.page-header-list-item {
    padding: 0 0 0 36px;
    list-style-type: none;
    position: relative;
}
  
.page-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 6px;
    left: 0px;
    
    background-image: url(../img/phli_check.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header-pic {
    display: block;
    background-color:  #ffffff;
    width: 469px;
    min-height: 214px;
    float: right;
    color: black;
}

.content {
    width: 100%;
    border: 5px solid #ff00b3;
    color: #445161;
    box-sizing: border-box;
}

.about-product {
    padding:  50px;
    border: 4px solid orangered;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
  }

.about-product-wrp {
    width: 55%;
    float: left;
    border: 2px solid blue;
}

.about-product-title {
    margin: 0 0 30px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.about-product-text {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about-product-text:last-child {
   margin: 0;
}

.about-product-video {
    display: block;
    background-color:  #445161;
    width: 430px;
    min-height: 245px;
    float: right;
}

.dignity {
    
    border: 4px solid rgb(47, 255, 64);
    box-sizing: border-box; 
    
    padding:  50px 50px 15px 50px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.dignity-title {
    margin: 0 0 29px 0;
    width: 100%;

    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

.dignity-item-wrp {
    width: 50%;

    box-sizing: border-box; 
    border: 1px solid black;
}

.dignity-item {
    width: 100%;
    min-height: 32px;
    margin: 0 0 35px 0;
    padding: 0 0 0 41px;
    box-sizing: border-box;

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}
  
.dignity-item-title {
    display: block;
    outline: none;
    position: relative;
}
  
.dignity-item-title::-webkit-details-marker {
    display: none;
}
  
.dignity-item-title:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: -41px;
}  

.dignity-item[open] .dignity-item-title:before {
    content: "-";
}
  
.screenshots {
    border: 2px solid black;
    box-sizing: border-box;

    padding:  50px 50px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-title {
    width: 100%;
    text-align: center;
    margin: 0 0 35px 0;

    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}
  
.screenshots-item {
    width: 49%;
    margin: 0 0 30px 0;

    border: 1px solid black;
    box-sizing: border-box;
    
    display: flex; /* разобраться нужно ли опять флекс*/
    justify-content: space-between;
}
 
.screenshots-item-pic {
     display: block;
     width: 200px;
     min-height: 150px;
     background-color: #445161;

     border: 2px solid red;
     box-sizing: border-box;
 }
 

.screenshots-item figcaption {
    width: 62%;

    border: 2px solid red;
    box-sizing: border-box;
}
  
.screenshots-item-title {
    margin: 0 0 15px 0;

    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}
  
.screenshots-item-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.reviews {
    padding:  50px 50px 30px 50px;
    box-sizing: border-box;

    width: 100%;
    background-color: #dce1e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .reviews-title {
    width: 100%;
    margin: 0 0 35px 0;
    text-align: center;

    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161; 
  }
  
  .reviews-item {
    width: 49%;
    margin: 0 0 24px 0;

    border: 1px solid;
    box-sizing: border-box;
    
    display: flex;/* разобраться нужно ли*/
    justify-content: space-between;
  }
  
  .reviews-item-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color:  #445161;
  }
  
  .reviews-item-text {
    width: 80%;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color:  #ccd5df;
    border-radius: 10px;
    
    position: relative;

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
  }
  
  .reviews-item-text:before {
    content: "";
    display: block;
    border: 13px solid transparent; 
    border-right: 13px solid #ccd5df;
    position: absolute;
    top: 27px;
    left: -26px;
  }
  
  .reviews-item-text-author {
    display: block;
    margin: 15px 0 0 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
  }
  
  .price {
    padding:  50px 50px 50px 50px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }
  
  .price-title {
    width: 100%;

    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;

    margin: 0 0 30px 0;
    text-align: center;
  }
  
  .price-item {
    width: 27%;
    min-height: 200px;
    margin:  0 45px 0 0;
    padding: 0 0 20px 0;
    border-radius: 5px;

    background-color: #445161;
    border: 2px solid #445161;
    box-sizing: border-box;
    color: #fff;
  }
  
  .price-item:nth-child(2) {
    min-height: 306px;
  }
  
  .price-item:nth-child(3) {
    min-height: 405px;
  }

  .price-item:last-child {
    min-height: 500px;
    margin: 0;
  }

  .price-item-title,
  .price-item-cost {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 18px;

    box-sizing: border-box;

    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
  }
  
  .price-item-cost {
    padding: 18px 0 18px 0;
    background-color: #fff;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
  }
  
  .price-item-list {
    margin: 0;
    padding: 20px;
    list-style-position: inside;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .price-item-btn {
    display: block;
    margin:  0 auto;
    padding: 14px 0;
    width: 85%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;

    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
  }
  
  .price-item-btn:hover {
    background-color: #445161;
    color: #fff;
  }
  
  .price-item-btn:active {
    background-color: #fff;
    color: #445161;
  }  


